.tarefas{
    margin-top: 30px;
}

.tarefas li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.tarefas li .edit{
    margin-right: 15px;
}

.tarefas li .delete{
    margin-right: 15px;
    color: red;
}
